body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.img-icon-top {
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
}

/*:root {
  --jumbotron-padding-y: 3rem;
}*/

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    margin-right: 15px;
    display: block;
    background-color: #ddd;
    cursor: pointer;
}

.btn-circle-default {
    background-color: #ddd;
}

.btn-circle-success {
    background-color: #28a745;
}

.btn-circle-danger {
    background-color: #dc3545;
}
.btn-large-add {
    background-color: #7800ff;
}

.a-hashtag {
    color: #aaa;
}

.a-hashtag:hover {
    color: #333;
}

.card-user {
    color: blue;
}

.card-user:hover {
    color: black;
}

.img-icon-top {
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.dummy{
    background-color: yellow;
    position: fixed;
    width: 500px;
    height: 500px;
}
.profile-h5 {
    display: inline-block;
    margin-right: 5px
}
.profile-img {
    width: 100%;
    height: 100%;
    padding:5px;
    border: 2px solid #a7a6ad
}

.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
}
.artikelPage-padd {
    padding-left: 5%;
}
.desc-padd{
    padding-left: 20%;
}
div.stars {
    width: 270px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}




.registrationHeader {
    text-align: center;
    margin-left: -115px;
}

.loginHeader {
    text-align: center;
    margin-left: -100px;
}


.registrationAndLoginForm {
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.registrationAndLoginForm input {
    width: 90%;
    height: 45px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: rgb(33, 37, 41);
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
}

.registrationAndLoginForm button {
    display: block;
    width: 90%;
    height: 40px;
    border: none;
    margin-top: 10px;
    background-color: #32383e;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.registrationAndLoginForm button:hover {
    background-color: rgb(33, 37, 41);
}
.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}
.payment-form{
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
    background-color: #f6f6f6;
}

.payment-form .content{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity:0.7;
}

.payment-form.dark .block-heading p{
    opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
    margin-bottom:1.2rem;
    color: #3b99e0;
}

.payment-form form{
    border-top: 2px solid #5ea4f3;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.payment-form .title{
    font-size: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.payment-form .products{
    background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
    margin-bottom:1em;
}

.payment-form .products .item-name{
    font-weight:600;
    font-size: 0.9em;
}

.payment-form .products .item-description{
    font-size:0.8em;
    opacity:0.6;
}

.payment-form .products .item p{
    margin-bottom:0.2em;
}

.payment-form .products .price{
    float: right;
    font-weight: 600;
    font-size: 0.9em;
}

.payment-form .products .total{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 19px;
    font-weight: 600;
    line-height: 1;
}

.payment-form .card-details{
    padding: 25px 25px 15px;
}

.payment-form .card-details label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #79818a;
    text-transform: uppercase;
}

.payment-form .card-details button{
    margin-top: 0.6em;
    padding:12px 0;
    font-weight: 600;
}

.payment-form .date-separator{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
    .payment-form .title {
        font-size: 1.2em;
    }

    .payment-form .products {
        padding: 40px;
    }

    .payment-form .products .item-name {
        font-size: 1em;
    }

    .payment-form .products .price {
        font-size: 1em;
    }

    .payment-form .card-details {
        padding: 40px 40px 30px;
    }

    .payment-form .card-details button {
        margin-top: 2em;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #212529;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6d7680;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2f6499;}


.wrapper {
    width: 700px;
    position: relative;
}
.wrapper .thumbnails {
    width: 150px;
    float: right;
}
.wrapper a {
    margin: 2px;
}
.wrapper img {
    border: 1px solid #000;
}
.wrapper label > img {
    opacity: 0.6;
}
.wrapper label > img:hover {
    opacity: 1;
}
.wrapper input {
    display: none;
}
.wrapper input:checked + .full-image {
    display: block;
}
.wrapper input:checked ~ img {
    opacity: 1;
}
.wrapper .full-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper .description {
    width:95%;
    padding:5px;
    background-color:#DDDDDD;
}

.editProfil {
    float: right;
    margin-right: 50px;
    height: 60px;
    width: 110px;
    border-radius: 5px;
    background-color: #212529;
    color: white;
    cursor: pointer;
    font-family: Ariel;
}

.editProfil:hover {
    background-color: #4e555b;
}

.editButtonShrani {
    margin-right: 60px;
    float: right !important;
    width: 44% !important;
}

.editButtonNazaj {
    margin-left: 0px;
    float: left !important;
    width: 44% !important;
}

.editHeader {
    text-align: center;
    margin-left: -80px;
}

.adminHeader {
    text-align: center;
}

.adminDiv {
    background-color: #ededed;
    width: 100%;
    min-height: 400px;
    padding: 15px;
    margin-top: -10px;
}

.prodajalecCard {
    border-radius: 5px;
    margin-bottom: 0px;
    text-align: center;
    background-color: white;
    color: black;
    line-height: 50px;
    cursor: pointer;
}

.prodajalecCard:hover {
    background-color: #989da1;
}

.btnP {
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

.btnP:hover {
    color: black;
}

.addSeller {
    background-color: #343a40;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    position: relative;
    float: right;
    color: white;
    text-align: center;
    line-height: 50px;
}

.addSeller:hover {
    background-color: black;
}

.addCustomer {
    background-color: #343a40;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    position: relative;
    float: right;
    color: white;
    text-align: center;
    line-height: 50px;
}

.addCustomer:hover {
    background-color: black;
}

.addArtikel {
    background-color: #343a40;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    position: relative;
    float: right;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}

.addArtikel:hover {
    background-color: black;
}

.sellerButtonShrani {
    margin-right: 60px;
    float: right !important;
    width: 44% !important;
}

.sellerButtonNazaj {
    margin-left: 0px;
    float: left !important;
    width: 44% !important;
}

.deactivate {
    text-decoration: none !important;
    color: #36e94a;
}

.deactivate:hover {
    color: #36e94a;
}

.activate {
    text-decoration: none !important;
    color: #e90502;
}

.activate:hover {
    color: #e90502;
}

.prodajalecDiv {
    background-color: #ededed;
    width: 100%;
    min-height: 400px;
    padding: 15px;
    margin-top: -10px;
}

.prodajalecHeader {
    text-align: center;
}

.txtArea {
    background-color: rgb(33, 37, 41);
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
.table-responsive{margin-top:25px;}